@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 75vh;
    background: url('img/game.jpg') no-repeat fixed center/cover;
    /* background: rgb(72, 157, 228);
    background: linear-gradient(0deg, rgba(72, 157, 228, 1) 0%, rgba(13, 222, 235, 1) 100%); */
    background-position: center;
    font-family: "Poppins", Arial;
    overflow: hidden;
}